
<html lang="en">

        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width,initial-scale=1.0">
            <title>Document</title>
    
        </head>
        <body>
            <form method="post">
                {% csrf_token %}
                {{form}}
                <button type="submit">Submit</button>
            </form>
            <div class="row">
                    {% for stock in result %}
                    <p class="more"><strong>{{stock}}</strong></p>    
            {% endfor %}
            </div>
    
            
        </body>
    </html>